@import '../../public/styles/color';

panel {
  position: relative;
  width: 72%;
  height: 100%;
  background-color: $second-dark;
}

.panel-container {
  position: relative;
  width: 86%;
  height: 84%;
  max-height: 560px;
  margin: 7.5% auto;
  background: transparent;
}

.panel-upload,
.panel-canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.panel-upload {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  .drop-box {
    width: 100%;
    height: 100%;
    text-align: center;
    padding-top: 35%;
  }
}

#plotitCanvas {
  width: 100%;
  height: 100%;
  background: transparent;
}
