<div class="sidebtn add" title="上传图片" ng-show="!sideBtn.isPlot" ng-click="sideBtn.turnToCanvas()">
  <i class="fa fa-plus"></i>
</div>
<div title="完成编辑"
     class="sidebtn complete" 
     ng-show="sideBtn.isPlot" 
     ng-click="sideBtn.updateImage(panel.isLoading, popover)">
  <i class="fa fa-check" ng-if="!panel.isLoading"></i>
  <i class="fa fa-spinner fa-pulse" ng-if="panel.isLoading"></i>
</div>
<div title="一键还原"
     ng-class="panel.isLoading ? 'sidebtn undo disable' : 'sidebtn undo'" 
     ng-show="sideBtn.isPlot" 
     ng-click="sideBtn.undoImage(panel.isLoading, palette)">
  <i class="fa fa-history"></i>
</div>
<div title="返回主页"
     ng-class="panel.isLoading ? 'sidebtn back disable' : 'sidebtn back' " 
     ng-show="sideBtn.isPlot" 
     ng-click="sideBtn.turnToHome(panel.isLoading)">
  <i class="fa fa-home"></i>
</div>
