@import '../../public/styles/color';

side-btn {
  position: absolute;
  bottom: 2em;
  right: -1.5em;
  z-index: 999;
}

.sidebtn {
  position: relative;
  margin: .8em 0;
  width: 3em;
  height: 3em;
  line-height: 3em;
  text-align: center;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, .6);

  a {
    &:link, &:visited, &:active, &:hover {
      color: #FFF;
    }
  }

  &.disable {
    -webkit-filter:grayscale(1);
  }
  
  &.add,
  &.back {
    background-color: $red;
  }

  &.complete {
    background-color: $green;
  }

  &.undo {
    background-color: $orange;
  }

}

#plotAdd {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  width: 3em;
  height: 3em;
  overflow: hidden;
  border: none;
  outline: none;
  opacity: 0;
}
