@import './reset';

body {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}

.app-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: stretch;

  min-width: 960px;
  min-height: 480px;

  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  color: #FFF;
  background-color: #666;
  overflow: hidden;
}
