<!DOCTYPE html>
<html ng-app="plotit" lang="zh-Has">
<head>
  <meta charset="utf-8">
  <title>Plotit</title>
  <link href="styles/bootstrap.min.css" rel="stylesheet">
  <link href="styles/font-awesome.min.css" rel="stylesheet">
  <link href='//fonts.googleapis.com/css?family=Lato:400,300italic,700|Lobster' rel='stylesheet' type='text/css'>
  <link rel="shortcut icon" href="images/favicon.ico">
  <base href="/">
</head>
<body>
  <div ui-view></div>
  <script src="scripts/bundle.js"></script>
</body>
</html>
 